---
---
$base-font-size: 18px;
$type-scale: 1.618;

$text-color: #222222;
$bg-color: #FDFEFF;
$web-blue: #0000EE;
$web-purple: #551A8A;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem * $type-scale * $type-scale;

    color: $text-color;
    background-color: $bg-color;

    font-family: 'Roboto Mono', 'Courier', monospace;
    font-size: $base-font-size;
    line-height: $type-scale;
}

.image-container {
    position: relative;

    width: 100%;
    padding-bottom: 46.875%;

    border: 2px solid $text-color;
    // background-color: $web-blue;
    background-size: cover;

    img {
        position: absolute;

        width: 100%;

        -webkit-transition: opacity 300ms ease;
        transition: opacity 300ms ease;

        opacity: 0;

        &.loaded {
            opacity: 1;
        }
    }
}

h1, h2, h3, p, ul {
    max-width: 45rem;
    margin: 0;
    padding: 0;

    font-weight: normal;
}

h1 {
    margin-bottom: 1rem;

    font-size: 1rem * $type-scale * $type-scale;
}

h2 {
    font-size: 1rem * $type-scale;
}

h3 {
    font-size: 1rem;
}

p {
    margin: (1rem * $type-scale) 0;
}

.image-container + h2,
ul + h2 {
    margin-top: 1rem * $type-scale * $type-scale;
}

.contact-link-list li {
    display: inline-block;
}

$duration: 150ms;

a {
    display: inline-block;

    transition: color $duration, border-bottom-color $duration, line-height $duration;
    transition-timing-function: ease-in-out;
    text-decoration: none;

    color: $web-blue;
    border-bottom: 2px solid $web-blue;
    text-shadow:
        1px 1px $bg-color,
        1px -1px $bg-color,
        -1px 1px $bg-color,
        -1px -1px $bg-color;

    line-height: 1;

    &:hover, &:visited {
        color: $web-purple;
        border-bottom-color: $web-purple;
    }

    &:hover {
        line-height: 1.2;
    }
}

.site-title {
    color: $text-color;
    border-bottom: none;

    font-size: $base-font-size * $type-scale;
    line-height: 1;

    &:hover, &:visited {
        color: $text-color;
        border-bottom: none;

        line-height: 1;
    }
}

footer {
    margin: 2em 0;
    padding: 1em 0;

    border-top: 2px solid $text-color;

}

.tag.active {
    text-decoration: underline;
}

@import 'header';
@import 'pills';
