---
---
body {
    font-family: 'Courier', monospace;
    line-height: 1.5;
}

.skill-pills li {
    display: inline-block;
    line-height: 2;
}

.tag-pill {
    border-radius: 4px;
    padding: 2px 6px 3px;
    background: #eeeeee;

    color: black;
    text-decoration: none;
}
