---
layout: page
jquery: true
title: HTML Email and Front End Developer
---
<section id="intro">
    I'm a creative developer with an eye for detail.
    I take pride in making iterative improvements and streamlining processes, informed by user research, analytics, and best practices.
</section>

<section id="portfolio" class="bg-spread">
    <h2>Portfolio</h2>
    {% include portfolio.html %}
</section>

<section id="resume">
    <h2>Resume</h2>
    {% include resume.html %}
</section>

<section id="contact" class="bg-spread">
    <h2>Contact</h2>
    {% include contact.html %}
</section>

<script src="js/scripts.js" charset="utf-8"></script>
