---
layout: default
title: Home
permalink: /
---
<h1>John Teske</h1>
<h2>{{ site.about }}</h2>
<p>
    I'm a creative developer
    with a focus on
    user experience,
    simple maintenance,
    and information architecture.
<p>
</p>
    I currently work at <a href="https://www.schemadesign.com/">Schema Design</a> in Seattle, WA.
</p>

{% comment %}<h2>Recent work</h2>
{% include portfolio.html title="LATEST WORKS" limit=10 %}
{% include portfolio.html limit=8 %}

{% include hire.html resume=true email=true %}{% endcomment %}
