---
layout: resume
title: Resume
permalink: /resume/
---
{% assign resume = site.data.resume %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mb">
            <h3>Experience</h3>
            <ul class="list-unstyled resume">
                {% for item in resume.work %}
                <li>
                    <p>
                        <strong>{{ item.position }}</strong>, {{ item.company }}<br />
                        {% if item.endDate %}
                            {{ item.startDate | date: '%B %Y' }}&ndash;{{ item.endDate | date: '%B %Y' }}
                        {% else %}
                            {{ item.startDate | date: '%B %Y' }}&ndash;Present
                        {% endif %}
                    </p>
                    <p>{{ item.summary }}</p>
                    {% comment %}<!--
                    <ul>
                        {% for hlite in item.highlights %}
                        <li>{{ hlite }}</li>
                        {% endfor %}
                    </ul>
                    -->{% endcomment %}
                </li>
                {% endfor %}
            </ul>

            {% comment %}<!-- VOLUNTEER -->{% endcomment %}

            <h3>Education</h3>
            <ul class="list-unstyled">
                {% for item in resume.education %}
                <li>
                    {{ item.institution }}<br />
                    {{ item.studyType }} of {{ item.area }}, {{ item.endDate | date: '%Y' }}
                </li>
                {% endfor %}
            </ul>

            {% comment %}<!-- AWARDS -->{% endcomment %}
            {% comment %}<!-- PUBLICATIONS -->{% endcomment %}
            {% comment %}<!-- LANGUAGES -->{% endcomment %}
            {% comment %}<!-- INTERESTS -->{% endcomment %}
            {% comment %}<!-- REFERENCES -->{% endcomment %}

            <!-- <img class="img-responsive" src="{{ "/assets/img/about.jpg" | prepend: site.baseurl }}" alt=""> -->
        </div>
        <div class="col-lg-6 mb">

            <h3>Skills</h3>
            <ul class="list-unstyled">
                {% for item in resume.skills %}
                <li>
                    <p class="">{{ item.name }}</p>
                    <ul class="list-unstyled">
                        {% for keyword in item.keywords %}
                        <li class="" style="display: inline-block; background: #eeeeee; padding: 4px 8px; border-radius: 4px; margin: 0 2px 4px 0;">{{ keyword }}</li>
                        {% endfor %}
                    </ul>
                    </p>
                </li>
                {% endfor %}
            </ul>

            <div class="mt">
            <h3>About</h3>
            <p>
                A largely self-taught developer,
                I grew up using the command line, writing BASIC programs, and
                creating simple websites for the Web 1.0.
                While studying at the University of Washington,
                I learned more complex programming concepts through
                the <a href="https://dxarts.washington.edu/">DXARTS</a> program,
                using Common LISP and SuperCollider to compose music.
                Since then, I've honed my web development skills through
                various courses, community projects, and my employment and freelance work.
            </p>
            </div>

            {% comment %}
            <p>
                <a href="https://jsonresume.org/">Built with JSON Resume standard</a>
            </p>
            {% endcomment %}
        </div>
    </div><!-- /row -->
</div><!-- /container -->
