---
layout: default
title: Resume
permalink: /resume/
---
{% assign resume = site.data.resume %}

<h2>Experience</h2>
<ul>
    {% for item in resume.work %}
    <li>
        <p>
            <strong>{{ item.position }}</strong>, {{ item.company }}<br />
            {{ item.startDate | date: '%B %Y' }}&ndash;{{ item.endDate | date: '%B %Y' | default: 'Present' }}
        </p>
        <p>{{ item.summary }}</p>
    </li>
    {% endfor %}
</ul>

<h2>Education</h2>
<ul>
    {% for item in resume.education %}
    <li>
        <p>
            {{ item.institution }}<br />
            {{ item.studyType }} of {{ item.area }}, {{ item.endDate | date: '%Y' }}
        </p>
    </li>
    {% endfor %}
</ul>

<h2>Skills</h2>
<ul>
    {% for item in resume.skills %}
    <li>
        <p>{{ item.name }}</p>
        {% include pills.html items=item.keywords %}
    </li>
    {% endfor %}
</ul>

<h2>About</h2>
<p>
    A largely self-taught developer,
    I grew up using the command line, writing BASIC programs, and
    creating simple websites for the Web 1.0.
    While studying at the University of Washington,
    I learned more complex programming concepts through
    the <a href="https://dxarts.washington.edu/">DXARTS</a> program,
    using Common LISP and SuperCollider to compose music.
    Since then, I've honed my web development skills through
    various courses, community projects, and my employment and freelance work.
</p>
