---
layout: default
title: Resume
permalink: /resume/
---
{% assign resume = site.data.resume %}

<h3>Experience</h3>
<ul>
    {% for item in resume.work %}
    <li>
        <p>
            <strong>{{ item.position }}</strong>, {{ item.company }}<br />
            {{ item.startDate | date: '%B %Y' }}&ndash;{{ item.endDate | date: '%B %Y' | default: 'Present' }}
        </p>
        <p>{{ item.summary }}</p>
        {% comment %}<!--
        <ul>
        {% for hlite in item.highlights %}
        <li>{{ hlite }}</li>
        {% endfor %}
        </ul>
        -->{% endcomment %}
    </li>
    {% endfor %}
</ul>

{% comment %}<!-- VOLUNTEER -->{% endcomment %}

<h3>Education</h3>
<ul>
    {% for item in resume.education %}
    <li>
        {{ item.institution }}<br />
        {{ item.studyType }} of {{ item.area }}, {{ item.endDate | date: '%Y' }}
    </li>
    {% endfor %}
</ul>

{% comment %}<!-- AWARDS -->{% endcomment %}
{% comment %}<!-- PUBLICATIONS -->{% endcomment %}
{% comment %}<!-- LANGUAGES -->{% endcomment %}
{% comment %}<!-- INTERESTS -->{% endcomment %}
{% comment %}<!-- REFERENCES -->{% endcomment %}

<h3>Skills</h3>
<ul>
    {% for item in resume.skills %}
    <li>
        <p>{{ item.name }}</p>
        {% include pills.html items=item.keywords %}
        <!-- <ul class="pills">
            {% for keyword in item.keywords %}
            <li><a href="/tag/{{ keyword }}" class="pill">{{ keyword }}</a></li>
            {% endfor %}
        </ul> -->
    </li>
    {% endfor %}
</ul>

<h3>About</h3>
<p>
    A largely self-taught developer,
    I grew up using the command line, writing BASIC programs, and
    creating simple websites for the Web 1.0.
    While studying at the University of Washington,
    I learned more complex programming concepts through
    the <a href="https://dxarts.washington.edu/">DXARTS</a> program,
    using Common LISP and SuperCollider to compose music.
    Since then, I've honed my web development skills through
    various courses, community projects, and my employment and freelance work.
    </p>

{% comment %}
<p>
<a href="https://jsonresume.org/">Built with JSON Resume standard</a>
</p>
{% endcomment %}
