---
layout: default
title: Kitchen Sink
---
<h2>Header 2</h2>

<h3>Header 3</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{% assign all_tags = '' %}
{% for tag in site.tags %}
    {% assign tag_name = tag | first %}
    {% assign all_tags = all_tags | append: ' ' | append: tag_name %}
{% endfor %}
{% assign all_tags = all_tags | split: ' ' %}

{% include pills.html items=all_tags %}
{% if page.client %}<p>Client: {{ page.client }}</p>{% endif %}

{% include portfolio.html title="Other Works" limit=8 %}
