<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>
        <p>{{ site.data.resume.basics.summary }}</p>

        <div class="col-wrapper">
            <div class="col col-50">
                <ul class="contact-list">
                {% for page in site.pages %}
                    {% if page.title != 'Sites' %}
                    <li>
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div class="col col-50">
                <ul class="social-media-list">
                {% for profile in site.data.resume.basics.profiles %}
                    <li>
                        <a href="{{ profile.url }}">
                            <i class="icon icon-{{ profile.network | downcase }}"></i><span class="username">{{ profile.network }}</span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="col col-100 copyright">
                <p>&copy; 2015 John Teske</p>
            </div>
        </div>

    </div>

</footer>
