<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!--<h3>Show your work with this beautiful theme</h3>-->
                <h1>{{ site.about }}</h1>
                <h3>I'm a creative developer with an eye for detail.</h3>
                <!-- <h5>I take pride in making iterative improvements and streamlining processes,</h5> -->
                <!-- <h5>informed by user research, analytics, and best practices.</h5> -->
            </div>
            {% comment %}
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/project/vectorscores-nmusa.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            {% endcomment %}
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
