header {
    margin-bottom: 2em;

    border-bottom: 2px solid $text-color;

    h3 {
        margin-bottom: 0;
    }
    p {
        margin: 0 0 1em;
    }
    li {
        display: inline-block;
    }
    ul {
        margin-bottom: 2em;
    }
}
