@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin calc($prop, $val) {
    #{$prop}: -webkit-calc(#{$val});
    #{$prop}: calc(#{$val});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
