---
layout: default
---
{{ content }}

{% for img in page.images %}
    <div class="image-container">
        <img data-src="{{ img }}" />
    </div>
{% endfor %}

{% if page.concept %}
    <h2>Concept</h2>
    {% include copy-or-list.html content=page.concept %}
{% endif %}

{% if page.solutions %}
    <h2>Solutions</h2>
    {% include copy-or-list.html content=page.solutions %}
{% endif %}

{% include pills.html items=page.tags %}

<h2>Project Details</h2>
<p>
    Date: {{ page.date | date: "%b %-d, %Y" }}{% if page.present %}&ndash;Present{% endif %}<br />
    Role: {{ page.roles | join: ', ' }}<br />
    {% if page.client %}Client: {{ page.client }}<br />{% endif %}
    Website: <a href="{{ page.website }}">{{ page.website | split: '://' | last }}</a>
</p>

<h2>Other works</h2>
{% include portfolio-list.html limit=8 %}

<script>
window.addEventListener('load', function deferImageLoading() {
    var imageElements = document.getElementsByTagName('img');
    var images = [];

    function preload(image, src) {
        return function() {
            image.setAttribute('src', src);
            image.classList.add('loaded');
        };
    }

    for (var i = 0; i < imageElements.length; i++) {
        var src = imageElements[i].getAttribute('data-src');

        if (src) {
            images[i] = new Image();
            images[i].onload = preload(imageElements[i], src);
            images[i].src = src;
        }
    }
});
</script>
